@import "../../.dotfiles/configs/waybar/color-themes/mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMonoNL Nerd Font"; /* FiraCod Nerd Font */
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @macchiato-text;
  }

tooltip {
  /*  background: @background; */
    background: @base;
    opacity: 0.85;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: @yellow;
}

tooltip label{
    /*color: @foreground;*/
    color: @peach;
}
.modules-left,
.modules-right,
.modules-center {
   margin-top: 2px;
}


/*********************************LEFT MODULES STYLING*********************************/
.modules-left {
    margin-left: 5px;
}

#workspaces {
    background: @surface0;
    border-radius: 12px;
    margin-left: 0px;
    padding: 0px 4px;
}

#workspaces button {
    padding: 5px;
    color: @text1;
    margin-right: 5px;
}

#workspaces button.active {
    /*color: #9bd6f4;*/
    color: @blue;
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

#workspaces button:hover {
    background: @peach;
    color: #cdd6f4;
    border-radius: 15px;
}

#cpu,
#memory,
#disk,
#battery {
    background: @surface0;
    opacity: 1;
    padding: 0px 10px;
    border: 0px;
}
#cpu {
 border-radius: 12px 0px 0px 12px;
 color: @yellow;
}
#memory {
   color: @red;
}
#disk {
    color: @sapphire;
}

#battery {
        font-size: 20px;
        margin-right: 20px;
        border-radius: 0px 12px 12px 0px;
}
#battery.charging {
    color: white;
    background-color: #26A65B;
    padding-left: 15px;
    font-size: 15px;

}
#battery.charging.good {
    color: white;
}

#battery.good {
    color: @sky;
}
#battery.discharging.normal {
    color: @green;
}
#battery.discharging:not(.good) {
    color: @text;

}
#battery.discharging.warning {
   /* background-color: transparent;*/
    color: @yellow;
}

@keyframes blink {

    to {
        opacity: 1; 
    }

}


#battery.critical:not(.charging) {
    opacity: 0;
    color: #f53c3c;
    animation-name: blink;
    font-size: 22px;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/*********************************CENTERED MODULES STYLING*********************************/
.modules-center {
    background: @surface0;
   border-radius: 12px;
   padding: 4px 12px;
}
#clock {
    font-size: 16px;
}

/*********************************RIGHT MODULES STYLING*********************************/

.modules-right {
    margin-right: 5px;
    padding: 5px 5px;
}

#tray,
#pulseaudio,
#backlight,
#language,
#custom-swaync  {
    background: @surface0;
    opacity: 1;
    padding: 0px 12px;
    border: 0px;
}
#tray {
    margin-right: 15px;
    border-radius: 12px;
    border: 2px solid @maroon ;
}

#language {
    border-radius: 12px 0px 0px 12px;
    color: @latte-base;
}
#backlight {
    color: @sky;
}
#pulseaudio {
    color: @green;
}
#pulseaudio.microphone {
    color: @peach;
}
#custom-swaync {
    color: @lavender;
    border-radius: 0px 12px 12px 0px;
}