@import "../../.cache/wal/colors-waybar.css";

* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font";
    font-weight: bold;
    font-size: 17px;
    min-height: 0;
}

window#waybar {
    /*background: rgba(21, 18, 27, 0);*/
    background: rgba(0, 0, 0, 0);
/*    color: @foreground;*/
    color: #f5f5fe;
}

tooltip {
    background: @background;
    opacity: 0.9;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @color2;
}

tooltip label{
    color: @foreground;
}

#workspaces button {
    padding: 5px;
    color: #f6f7fc;
    margin-right: 5px;
}

#workspaces button.active {
    color: #9bd6f4;
    background:  rgba(0, 0, 0, 0);
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}



#custom-power_btn,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#backlight {
    background: rgba(21, 18, 27, 0);
    opacity: 1;
    padding: 0px 8px;
    margin: 0px 3px;
    border: 0px;
}
#workspaces {
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

#custom-launch_firefox, 
#custom-launch_thunderbird,
#custom-launch_thunar,
#custom-launch_wofi,
#custom-launch_kitty,
#custom-weather {
    margin-left: 0px;
    border-right: 0px;
    font-size: 24px;
    margin-right: 20px;
}

#custom-launch_firefox, 
#custom-launch_kitty {
    font-size: 20px;
}
#temperature.critical {
  background-color: red;
}