@import "../color-themes/mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMonoNL Nerd Font";
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background: @base;
    color: @text;
}

tooltip {
    background: @base;
    opacity: 0.85;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: @yellow;
}
tooltip label{
    color: @peach;
}

#custom-launch_wofi,
#custom-launch_firefox,
#custom-launch_kitty,
#custom-launch_thunar,
#custom-weather,
#custom-power_btn {
    color: @text;
}

#custom-launch_wofi,
#custom-launch_firefox,
#custom-launch_kitty,
#custom-launch_thunar,
#custom-power_btn,
#custom-weather,
#temperature,
#window{
    background: @base;
    opacity: 0.8;
    padding: 0px 8px;
    margin: 0px 3px;
    border: 0px;
}
#custom-launch_firefox,
#custom-launch_kitty,
#custom-launch_thunar {
    font-size: 20px;
}

#custom-launch_wofi {
    border-radius: 10px 0px 0px 10px;
    font-size: 20px;
}

#temperature {
    color: #00b81d;
}
#temperature.critical {
    color: #ff0000;
}


/* this the window making the widsth*/


#window {
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: @macchiato-text;
}

#custom-launch_wofi {
    color: @blue;
    margin-left: 10px;
    border-right: 0px;
}

