/*@import '../../.dotfiles/configs/swaync/swaync-themes/colors/latte.css';
@import '../../.dotfiles/configs/swaync/swaync-themes/colors/frappe.css';
@import '../../.dotfiles/configs/swaync/swaync-themes/colors/mocha.css';
*/
@import '../../.dotfiles/configs/swaync/swaync-themes/colors/macchiato.css';


* {
  all: unset;
  font-size: 14px;
  font-family: "JetBrainsMono Nerd Font"; /* FiraCode Nerd Font */
  transition: 200ms;
}

trough highlight {
  background: @red;
}

scale {
  margin: 0 7px;
}

scale trough {
  margin: 0rem 1rem;
  min-height: 8px;
  min-width: 70px;
  border-radius: 12.6px;
}

trough slider {
  margin: -10px;
  border-radius: 12.6px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease;
  background-color: @mauve;
}

trough slider:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8), 0 0 8px @green;
}

trough {
  background-color: @surface0;
}
/* control center */
.control-center {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px @surface0;
  border-radius: 12.6px;
  background-color: @base;
  color: @text;
  padding: 14px;
}

.widget-title {
margin-top: 5px;
font-weight: 700;
}

.control-center .widget-title > label {
  color: @text;
  font-size: 18px;
}

.control-center .widget-title button {
  border-radius: 7px;
  color: @text;
  background-color: @surface0;
  box-shadow: inset 0 0 0 1px @surface1;
  padding: 8px;
}

.control-center .widget-title button:hover {
  background-color: @surface1;
}

/* Scrollbar  */
scrollbar slider {
  margin: -4px;
  opacity: 0.9;
  background: @blue;
}

scrollbar trough {
  margin: 10px 0;

}
/* notifications */
.notification-group-headers image {
   -gtk-icon-size: 16px;
   margin-right: 2px;

}
.notification-background {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px @surface1;
  border-radius: 12.6px;
  margin: 18px;
  background: @base;
  color: @text;
  padding: 0;
}
.notification-group-headers {
color: @lavender;
font-size: 15px;
font-weight: 900;
}
.notification-group-close-all-button image {
    -gtk-icon-size: 20px;
     margin-right: 25px;
     color: @lavender;

}
.notification-group-close-all-button image:hover {
 background: @lavender;
 border-radius: 10px;
 color: @base;
}


.notification-group-collapse-button image  {
   -gtk-icon-size: 18px;
   color: @lavender;
}
.notification-group-collapse-button image:hover {
  
  background: @lavender;
 border-radius: 10px;
 color: @base;

}
.notification-action button label {
   font-weight: 700;
}
.notification-default-action {
 margin-top: 5px;
}
.notification-background .notification {
  padding: 7px;
  border-radius: 12.6px;  
}

.notification > *:last-child > * {
  min-height: 3.4em;    
}
.notification {
 min-width: 400px;
}


.notification-background .notification.critical {
  box-shadow: inset 0 0 15px 5px @red;
}
/*.notification-background .notification.low {
  box-shadow: inset 0 0 15px 5px @lavender;
}
*/

.notification .notification-content overlay {
  /* icons */
  margin: 4px;

}

.notification-content .summary {
  color: @text;
  
}

.notification-content .time {
  color: @text;
}

.notification-content .body {
  color: @subtext1;
}

.notification-background .close-button {
  margin: 5px;
  padding: 2px;
  border-radius: 6.3px;
  color: @base;
  background-color: @red;
}

.notification-background .close-button:hover {
  background-color: @maroon;
}

.notification-background .close-button:active {
  background-color: @pink;
}
.notification.critical progress {
  background-color: @red;
}

.notification.low progress,
.notification.normal progress {
  background-color: @blue;
}

.notification progress,
.notification trough,
.notification progressbar {
  border-radius: 12.6px;
  padding: 3px 0;
}

.notification .notification-action {
  border-radius: 7px;
  color: @text;
  box-shadow: inset 0 0 0 1px @surface1;
  margin: 4px;
  padding: 8px;
  font-size: 0.5rem; /* controls the button size not text size*/
  border: 1px solid @lavender;
}
.notification-group-close-button image {
    -gtk-icon-size: 16px;
     margin-right: 20px;
     margin-top: 8px;
    border-radius: 10px;
    padding: 2px;
}
.notification-group-close-button image:hover {
  background: @lavender;
  color: @base;
}
.notification .notification-content {
  margin: 7px;  
}

.notification-content image {
    margin-right: 10px;
   
}


.notification .notification-action {
  background-color: @surface0;
}

.notification .notification-action:hover {
  background-color: @surface1;
}

.notification .notification-action:active {
  background-color: @surface2;
}

/* control center */
.control-center .notification-background {
  border-radius: 7px;
  box-shadow: inset 0 0 0 1px @surface1;
  margin: 4px 10px;
}
.control-center .notification-background .notification {
  border-radius: 7px;

}
.control-center .notification-background .notification.low {
  opacity: 0.8;
}


.control-center .widget-title button:active {
  background-color: @surface2;

}

.control-center .notification-group {
  margin-top: 12px;
}

.control-center .notification-group:focus .notification-background {
  background-color: @surface0;
}
/* start edit from here */


/* edit end here */





/* Widgets */

/* dnd */
.widget-dnd {
  margin-top: 1px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 8px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: @surface0;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: @blue;
}

.widget-dnd > switch slider {
  background: @surface1;
  border-radius: 8px;
}
/* buttons grid */

.widget-buttons-grid {
padding: 8px;
border: 1px solid @rosewater;
border-radius: 12px;
margin-bottom: 10px;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  /*font-size: 2rem;*/
  font-size: 22px;
}
.widget-buttons-grid > flowbox > flowboxchild > button label:hover {
  background: @text;
  color: @base;
  border-radius: 10px;
}
/* mpris: displays current played media  */
.widget-mpris {
margin-bottom: 15px;
}
.widget-mpris-player {
  background: @surface0;
  border-radius: 12.6px;
  color: @text;
}
.mpris-overlay {
  background-color: @surface0;
  opacity: 0.8;
  padding: 15px 10px;
}

.widget-mpris-title {
   font-size: 1.3rem;
  color: @text;
  font-weight: 600;
}
.widget-mpris-subtitle {
  font-size: 1.2rem;
  color: @subtext1;
  font-weight: 600;

}

.widget-mpris button {
  border-radius: 12.6px;
  color: @text;
  margin: 0 8px;
  padding: 2px;
}

.widget-mpris button image {
  -gtk-icon-size: 2rem;

}

.widget-mpris button:hover {
  background-color: @overlay1;
}

.widget-mpris button:active {
  background-color: @surface1;
}
.widget-mpris button:hover image {
  background-color: @overlay1;
}

.widget-mpris button:active image {
  background-color: @surface1;
}

.widget-mpris button:disabled {
  opacity: 0.5;
}
/* menubar: displays current played media  */



.menu-button-bar {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid @rosewater;
 
}

.widget-menubar-container {

}
.widget-menubar-container .text-button > label { 
  color: @text;
  border-radius: 10px;
  padding: 2px;
}

.widget-menubar-container .text-button > label:hover { 
  color: @base;
  background: @text;
}

.widget-menubar .power > button    {
  padding: 5px 0px;
  font-size: 18px;
  color: @text;
}
.widget-menubar .power > button:hover {
  background-color: @text;
  border-radius: 12px;
  color: @base;
  border: 1px solid @maroon;
}
.widget-menubar .screenshot > button    {
  padding: 5px 0px;
  font-size: 18px;
  color: @text;
}
.widget-menubar .screenshot > button:hover {
  background-color: @text;
  border-radius: 12px;
  color: @base;
  border: 1px solid @maroon;
}

/* Volume  bar */

.widget-volume {
  margin-top: 5px;
  padding: 5px 0;
  border-radius: 10px;
}

.widget-volume label {
  color: @sapphire;
  padding: 0 10px;
  font-size: 25px;
}

.widget-volume trough highlight {
  background: @sapphire;
}

/* backlight bar */
.widget-backlight trough highlight {
  background: @yellow;
}

.widget-backlight label {
  font-size: 24px;
  padding: 0 10px;
  color: @yellow;
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}


